button {
  user-select: none;
}

.chipsy {
  padding: 3px 6px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.chipsy:hover {
  /* opacity: 0.7; */
}

.btn {
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.chipsy.txt {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: bold;
}

// :active, :focus
